{% assign call_to_action = 'products.product.add_to_cart' | t %}

{% unless current_variant.available %}
  {% assign call_to_action = 'products.product.sold_out' | t %}
{% endunless %}

{% form 'product', product, id: "AddToCartForm", class: "product_form", data-product-form:product_form_config %}
  <script class="product-json" type="application/json">
    {{ product | json }}
  </script>

  {%- if settings.show_multiple_currencies -%}
    {% assign price = current_variant.price | money_with_currency %}
    {% assign compare_price = current_variant.compare_at_price | money_with_currency %}
  {%- else -%}
    {% assign price = current_variant.price | money %}
    {% assign compare_price = current_variant.compare_at_price | money %}
  {%- endif -%}

  {% comment %}

  PRICE
  -------------------

  {% endcomment %}

  {% if current_variant.compare_at_price > current_variant.price %}

  {% comment %} Sale price formatting {% endcomment %}

  <div id="product-price" class="has-compare-price">
    <span class="product-price" itemprop="price">
      <span class="money bfx-price">{{ price }}</span>
    </span>
      <span class="was">
        <span class="money bfx-price">{{ compare_price }}</span>
      </span>
  </div>

  {% else %}

  {% comment %} Regular price {% endcomment %}

  <div id="product-price">
    <span class="product-price" itemprop="price">
      <span class="money bfx-price">{{ price }}</span>
    </span>
  </div>

  {% endif %}

  {% comment %} REVIEWS - STAR RATING {% endcomment %}

  <div class="product-star-rating">
    {% include 'pr-review-snippet' %}
    {% comment %}{- Copied from Review Snapshot -}{% endcomment %}
    <a href="/pages/reviews?&amp;pr_merchant_id=450247&amp;pr_api_key=e4e06efc-e430-40a3-8203-97a9f625df88&amp;pr_merchant_group_id=77397&amp;pr_page_id={{ product.id }}" class="product-star-rating__write-review">Write a Review</a>
  </div>
  <div class="clear"></div>

  {% if section.settings.show_sku and product.url != '/products/gift-card' %}
    <div class="product-number">
      Item# <span class="product-sku">{{ current_variant.sku | split: '-' | first }}</span>
    </div>
  {% endif %}

  <div class="clear"></div>

  {% comment %}

  SWATCHES
  -------------------

  CONDITION #1 - If there are more than one set of product options (Color AND Size). This condition also renders the different variants under said options (Red S, Blue L).

  {% endcomment %}

  {% if product.options.size > 1 %}

    <div class="select" {% if product.variants.size == 1 or section.settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
      <select id="product-select-{{ product.id }}" name='id'>
        {% for variant in product.variants %}
          {%- assign disable_auto_select = false -%}
          {%- if section.settings.disable_auto_select  and forloop.first == false -%}
            {%- assign disable_auto_select = true -%}
          {%- endif -%}
          <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}> 
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% endfor %}
      </select>
    </div><!-- .select -->
    {% if section.settings.product_variants == 'swatches' %}

      {% comment %} Option Loop

      This is the first of 3 sets of loops that determine the render of the product swatches. See 'swatch.liquid' for the other two.

      CYCLE #1 - Cycle through the available options {% endcomment %}

      {% for option in product.options_with_values %}
        {%- assign disable_auto_select = false -%}
        {%- if section.settings.disable_auto_select and forloop.first == false -%}
          {%- assign disable_auto_select = true -%}
        {%- endif -%}

        {% include "swatch", disable_auto_select: disable_auto_select %}
      {% endfor %}

    {% endif %}

  {% comment %}

  CONDITION #2 - If there is only one product option (Color), but multiple variants under that option (Red, Blue, Green).

  {% endcomment %}

  {% elsif product.options.size == 1 and product.variants.size > 1 %}

    <div class="select" {% if section.settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
      <label>{{ product.options[0] }}</label>
      <select id="product-select-{{ product.id }}" name='id'>
        {% for variant in product.variants %}
          <option data-sku="{{ variant.sku }}" value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% endfor %}
      </select>
    </div><!-- .select -->
    {% if section.settings.product_variants == 'swatches' %}

      {% comment %} Option Loop

      This is the first of 3 sets of loops that determine the render of the product swatches. See 'swatch.liquid' for the other two.

      CYCLE #1 - Cycle through the available options {% endcomment %}

      {% for option in product.options_with_values %}
        {% include 'swatch' with option %}
      {% endfor %}

    {% endif %}

  {% comment %}

  CONDITION #3 - If there aren't any options or variants at all; this interprets the number of variants as exactly 1.

  {% endcomment %}

  {% elsif product.variants.size == 1 %}

    <select id="product-select-{{ product.id }}" name="id" {% if product.variants.size == 1 or section.settings.product_variants == 'swatches' %}style="display: none;"{% endif %}>
      {% for variant in product.variants %}
        <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {% endfor %}
    </select><!-- .select -->
    {% else %}
    <div class="what-is-it">
      {% if product.options.first != 'Title' %}
        <label>{{ product.options.first }}:</label>
        {% for variant in product.variants %}
          <span class="it-is">{{ variant.option1 | escape }}</span>
        {% endfor %}
      {% endif %}
    </div>
    <div class="product-variants"></div><!-- product variants -->
    <input  type="hidden" id="{{ variant.id }}" name="id" data-sku="{{ variant.sku }}" value="{{ product.variants[0].id }}" />

  {% endif %}

  <div class="clear"></div>

  {% comment %}
  {% if section.settings.show_sku %}
    <div class="sku">
      <label style="line-height: 1.6em;">{{ 'customer.order.details.sku' | t }}:</label> <span class="variant_sku">{{ current_variant.sku }}</span>
    </div><div class="clear"></div>
  {% endif %}
  {% endcomment %}

  {% if product.available %}
    <div id="product-add">
      {% if section.settings.show_quantity %}
      <div class="quanity-select">
        <label for="quantity" class="quantity-select__label">{{ 'products.product.quantity' | t }}</label>
        <select name="quantity" id="quantity">
          {% for i in (1..10) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      {% if section.settings.show_payment_button %}<div class="clear"></div>{% endif %}

      <div class="atc-wrapper">

        {% comment %} Single Variant items skip product-form js, have to enable button on init for those cases {% endcomment %}
        {% assign atc_text = 'Pick a Size' %}
        {% assign atc_disable = true %}

        {% if product.variants.size == 1 %}
          {% if product.variants[0].available %}
            {% assign atc_text = 'Add to Cart' %}
            {% assign atc_disable = false %}
          {% else %}
            {% assign atc_text = 'Sold Out' %}
          {% endif %}
        {% endif %}
        <input class="add clearfix AddtoCart{% if section.settings.show_payment_button %} secondary-button{% endif %}"
          type="submit" 
          name="button"
          value="{{ atc_text }}"
          {% if atc_disable %} disabled {% endif %}/>
        <!-- include 'wishlist-link' -->
      </div>
      {% if section.settings.show_payment_button %}
       {{ form | payment_button }}
      {% endif %}

    </div>
    <p class="add-to-cart-msg"></p>
  {% endif %}

  <div class="clear"></div>

  {% comment %}{- Record collection -}{% endcomment %}
  <input
    readonly
    type="hidden"
    name="properties[_collection_private]"
    value="{{ collection.title }}">

  <input
    readonly
    type="hidden"
    name="properties[_collection_handle_private]"
    value="{{ collection.handle }}">
{% endform %}

