{% if settings.facebook_url != blank %}
  <li>
    <a href="{{ settings.facebook_url }}" target="_blank"
       title="{% if settings.facebook_title_alt_text %}{{ settings.facebook_title_alt_text }}{% else %}Go to your facebook account{% endif %}"
       aria-label="{% if settings.facebook_title_alt_text %}{{ settings.facebook_title_alt_text }}{% else %}Go to your facebook account{% endif %}">
      {% include 'svg-icon-facebook' %}
    </a>
  </li>
{% endif %}

{% if settings.instagram_id != blank %}
    <li>
      <a href="//instagram.com/{{ settings.instagram_id }}" target="_blank"
         title="{% if settings.instagram_title_alt_text %}{{ settings.instagram_title_alt_text }}{% else %}Go to your instagram account{% endif %}"
         aria-label="{% if settings.instagram_title_alt_text %}{{ settings.instagram_title_alt_text }}{% else %}Go to your instagram account{% endif %}">
        {% include 'svg-icon-instagram' %}
      </a>
    </li>
{% endif %}

{% if settings.youtube_url != blank %}
  <li>
    <a href="{{ settings.youtube_url }}" target="_blank"
       title="{% if settings.youtube_title_alt_text %}{{ settings.youtube_title_alt_text }}{% else %}Go to your youtube account{% endif %}"
       aria-label="{% if settings.youtube_title_alt_text %}{{ settings.youtube_title_alt_text }}{% else %}Go to your youtube account{% endif %}">
      {% include 'svg-icon-youtube' %}
    </a>
  </li>
{% endif %}

{% if settings.twittername != blank %}
  <li>
    <a href="{{ settings.twittername }}" target="_blank"
       title="{% if settings.twitter_title_alt_text %}{{ settings.twitter_title_alt_text }}{% else %}Go to your twitter account{% endif %}"
       aria-label="{% if settings.twitter_title_alt_text %}{{ settings.twitter_title_alt_text }}{% else %}Go to your twitter account{% endif %}">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
  </li>
{% endif %}

{% if settings.pinterest_url != blank %}
  <li>
    <a href="{{ settings.pinterest_url }}" target="_blank"
       title="{% if settings.pinterest_title_alt_text %}{{ settings.pinterest_title_alt_text }}{% else %}Go to your pinterest account{% endif %}"
       aria-label="{% if settings.pinterest_title_alt_text %}{{ settings.pinterest_title_alt_text }}{% else %}Go to your pinterest account{% endif %}">
      {% include 'svg-icon-pinterest' %}
    </a>
  </li>
{% endif %}

{% if settings.tumblr_url != blank %}
  <li>
    <a href="{{ settings.tumblr_url }}" target="_blank"
       title="{% if settings.tumblr_title_alt_text %}{{ settings.tumblr_title_alt_text }}{% else %}Go to your tumblr account{% endif %}"
       aria-label="{% if settings.tumblr_title_alt_text %}{{ settings.tumblr_title_alt_text }}{% else %}Go to your tumblr account{% endif %}">
      <i class="fa fa-tumblr fa-2x"></i>
    </a>
  </li>
{% endif %}

{% if settings.googleplus_url != blank %}
  <li>
    <a href="{{ settings.googleplus_url }}" target="_blank"
       title="{% if settings.googleplus_title_alt_text %}{{ settings.googleplus_title_alt_text }}{% else %}Go to your googleplus account{% endif %}"
       aria-label="{% if settings.googleplus_title_alt_text %}{{ settings.googleplus_title_alt_text }}{% else %}Go to your googleplus account{% endif %}">
      <i class="fa fa-google-plus fa-2x"></i>
    </a>
  </li>
{% endif %}

