<div class="footer-section" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <footer class="site-footer">
    
    {% comment %} :: ROW #1 -- Footer Menu + Brand Links :: {% endcomment %}
    <div class="row footer-menu-wrap">

      {% comment %} :: FOOTER NAVIGATION :: {% endcomment %}
      {% if section.blocks %}
        <div class="footer-blocks">
          
          {% for block in section.blocks %}
            {% assign menu = linklists[block.settings.menu_id] %} 
            <div class="footer-nav">
              <nav>

                {% comment %} :: TITLE : Basic title if no nested menus inside footer :: {% endcomment %}
                {% if menu.levels < 2 and block.settings.show_headings %}
                  <h4 class="nav-sub-header nav-heading">{{ menu.title }}</h4>
                {% endif %}


                {% comment %} :: LINKS : Menu Content links :: {% endcomment %}
                <ul class="nav-links-list">
                  {% for link in menu.links %}
                    
                    {% comment %} :: NESTED MENU :: {% endcomment %}
                    {% if link.levels > 0 %}
                      <li class="footer-sub-nav-wrapper nested-link" data-link-size="{{ link.links.size }}">
                        
                        {% comment %} :: SUB-NAV HEADER :: {% endcomment %}
                        {% if block.settings.show_headings %}
                          <h4 class="nav-sub-header">{{ link.title }}</h4>
                        {% endif %}

                        {% comment %} :: SUB-NAV MENU LINKS :: {% endcomment %}
                        <ul class="footer-sub-nav">
                          {% for sub_link in link.links %}
                            <li>{{ sub_link.title | link_to: sub_link.url }}</li>
                          {% endfor %}
                        </ul>

                      </li>

                    {% comment %} :: ELSE, REGULAR SINGLE LINK :: {% endcomment %}
                    {% else %}

                       <li class="simple-link">{{ link.title | link_to: link.url }}</li>
                    {% endif %}

                  {% endfor %}
                </ul>

              </nav>
            </div><!-- .footer-nav -->
          {% endfor %}

        </div><!--.footer-blocks-->      
      {% endif %}

    </div>


    {% comment %} :: ROW #2 -- Social Icons :: {% endcomment %}
    <div class="row footer-social-wrap">
      <ul class="social-icons-footer">
        {% include 'social-icons' %}
      </ul>
    </div><!-- .footer--bottom-row -->

  </footer>
</div>



{% schema %}
  {
    "name": "Footer",
    "settings": [
     {
       "type": "header",
       "content": "LAYOUT"
     }  
    ],
    "blocks":[
      {
        "type":"link_list",
        "name":"Menu",
        "settings":[
          {
            "type": "link_list",
            "id": "menu_id",
            "label": "Footer Menu"
          },
          {
            "type": "checkbox",
            "id": "show_headings",
            "label": "Show Footer Menu Headers",
            "default": false,
            "info": "(Hidden by default)"
          }
        ]
      }
    ]
  }
{% endschema %}
