{% comment %} TEMPLATE {% endcomment %}
<script id="instagram-template" type="text/template">
  {% raw %}
    <div class="instagram-item">
      <a class="instagram-image-container" target="_blank" href="{{link}}" rel="ig" title="{{caption}}" style="background-image: url({{image}}); ">
        <img class="instagram-image" src="{{image}}" alt="{{caption}}"/>
      </a>
    </div>
  {% endraw %}
</script>


<div class="homepage-section instagram-feed no-fouc index-section" 
  id="instagram-feed-{{ section.id }}"
  data-section-id="{{ section.id }}" 
  data-section-type="instagram">

    {% comment %} :: TEXT CONTENT :: {% endcomment %}
    {% if section.settings.heading != blank or section.settings.body != blank %}
      <div class="row instagram-text-wrap">
        <div class="text-box">
          
          {% comment %} :: HEADING :: {% endcomment %}
          {% if section.settings.heading != blank %}
            <h2 class="heading">{{ section.settings.heading | escape }}</h2>
          {% endif %}

          {% comment %} :: BODY TEXT :: {% endcomment %}
          {% if section.settings.body != blank %}
            <div class="body">{{ section.settings.body }}</div>
          {% endif %}

          {% comment %} :: CTA BUTTON :: {% endcomment %}
          {% if section.settings.cta_text != blank %}
            {% include 'cta-with-symbols', 
              cta_text: section.settings.cta_text, 
              cta_link: section.settings.cta_link,
              symbol_placement: section.settings.cta_symbol_placement %}
          {% endif %}

        </div><!-- .text-box -->
      </div>
    {% endif %}


    {% comment %} :: IG TOKEN DATA PARSING :: {% endcomment %}
    {% assign token = section.settings.instagram_access_token %}
    {% capture userid %}
      {{- token | truncate: 9, "" -}}
    {% endcapture %}


    {% comment %} :: INSTAGRAM IMAGES :: {% endcomment %}
    <div class="instagram-user-feed">
      {% if section.settings.instagram_access_token != blank %}
        <div id="instafeed-{{ section.id }}" data-access-token="{{ token }}"></div>
      
      {% else %}
        {% include 'onboard-instagram' %}
        <a class="ig-token-missing-notice" href="https://www.weareunderground.com/pages/instagram" target="_blank">(Click here to generate your Instagram token, then add in the theme customizer in this section's settings.)</a>
      {% endif %}
    </div>

</div>



{% schema %}
{
	"name": "Instagram feed",
	"settings": [
    {
      "type": "header",
      "content": "-- CONTENT --"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading here!"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text",
      "default": "View All"
    },
    {
      "type": "select",
      "id": "cta_symbol_placement",
      "label": "CTA Symbol Location",
      "info": "(Line / caret next to button text)",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ]
    },  
    {
      "type": "textarea",
      "id": "instagram_access_token",
      "label": "Instagram access token",
    	"info": "Required to show your Instagram content [instructions here](https://www.weareunderground.com/pages/instagram)."
    }
  ],

  "presets": [
    {
      "name": "Instagram feed",
      "category": "Social media"
    }
  ]
}
{% endschema %}

