<div class="about-container">

  {% if section.settings.title %}
    <div id="subpage">
      <div class="page-content-field">
        <h1 class="landing-title">{{ section.settings.title }}</h1>
      </div>
    </div>
  {% endif %}

  {% for block in section.blocks %}

    {% if block.type == 'html' %}

      {% comment %} ABOUT MODULE - centered text directly below banner image {% endcomment %}
      {% if block.settings.about_html_block != 'blank' %}
        <div class="about-block">
          {{ block.settings.about_html_block }}
        </div>
      {% endif %}

    {% elsif block.type == 'text_block' %}

      {% comment %} CONTENT MODULE - Paired text & images {% endcomment %}
      <div class="content-module layout-desk--{{ block.settings.module_image_position_desktop }} layout-mob--{{ block.settings.module_image_position_mobile }} color-scheme--{{ block.settings.module_image_color_scheme }}">
        <div class="text-box">

          {% if block.settings.module_html_h2 %}<h2>{{ block.settings.module_html_h2 }}</h2>{% endif %}
          <div class="banner-divider"></div>
          {% if block.settings.module_html_p %}
            <p>{{ block.settings.module_html_p }}</p>
          {% endif %}
        </div>

        <div class="image-box">
          <img src="{{ block.settings.module_image | img_url: '800x' }}" alt="{{ block.settings.module_image.alt }}" />
        </div>
      </div><!-- .content-module -->

    {% elsif block.type == 'paragraph_block' %}
      <div class="about-row text-box">
        {% if block.settings.title != blank %}
          <h2>{{ block.settings.title }}</h2>
        {% endif %}

        {% if block.settings.content != blank %}
          <p>{{ block.settings.content }}</p>
        {% endif %}
      </div>

    {% elsif block.type == 'image_block' and block.settings.image != blank %}
      <div class="about-row">
        <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
      </div>

    {% endif %}
  {% endfor %}

  {% comment %}  ABOUT PAGE ::: Bottom Full Width Banner if banner option is enabled in Customizer{% endcomment %}
  {% include 'about-page-banner' %}

  {% if section.settings.live_chat_enabled %}
  {% assign live_chat_color_scheme = section.settings.live_chat_color_scheme %}
    <div class="live-chat-bubble{% if live_chat_color_scheme != 'blank' %} color-scheme-{{ live_chat_color_scheme }}{% endif %}">
      <a href="#" title="{{ section.settings.live_chat_text }}">
        <span>{{ section.settings.live_chat_text }}</span>
        {% include 'svg-icon-chat-bubble' %}
      </a>
    </div>
  {% endif %}

</div><!-- /.about-container -->


<style>
  /* .zEWidget-launcher {
    display: none;
  } */

  #content.row {
    width: 100%;
  }
  #breadcrumb {
    display: none;
  }
  #content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .fancybox img {
    margin-bottom: -6px;
  }
</style>

<script>
  jQuery(document).ready(function($){
      $(".fancybox").on("click", function(){
        $.fancybox({
          href: this.href,
          type: $(this).data("type")
        }); // fancybox
        return false
      }); // on
      {% if section.settings.nav_transparent_landing %}
      $('body').addClass( 'show-transparent-landing' );
      {% endif %}
	}); // ready
</script>

{% schema %}
  {
    "name": "About Us page",
    "max_blocks": 12,
    "settings": [
      {
        "type": "header",
        "content": "Transparent Nav"
      },
      {
        "type": "checkbox",
        "id": "nav_transparent_landing",
        "label": "Enable Transparent Nav Landing",
        "info": "When banner images are present, set the nav bar to be transparent bg mode.",
        "default": false
      },
      {
        "type": "header",
        "content": "Page"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Page Title"
      },
      {
        "type": "header",
        "content": "About Page Bottom Banner"
      },
      {
        "type": "checkbox",
        "id": "about_bottom_banner_enabled",
        "label": "Enable Bottom content banner",
        "info": "Checking this box will enable full width banner on About page template.",
        "default": false
      },
      {
        "type": "select",
        "id": "banner_text_box_position_desktop",
        "label": "Text Box Position (Desktop)",
        "options": [
          {
            "value": "left",
            "label": "Text Left"
          },
          {
            "value": "right",
            "label": "Text Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "RESPONSIVE BANNER IMAGES"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image (Desktop)",
        "info": "Size: about ~1800px wide, ~300-400kb"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)",
        "info": "Size: about ~900px wide, ~100-150kb"
      },
      {
        "type": "select",
        "id": "banner_image_position_mobile",
        "label": "Image Position (Mobile)",
        "options": [
          {
            "value": "image_top",
            "label": "Image Top"
          },
          {
            "value": "image_bottom",
            "label": "Image Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "banner_text_box_color_scheme",
        "label": "Color Scheme",
        "options": [
          {
            "value": "light",
            "label": "Light Background"
          },
          {
            "value": "dark",
            "label": "Dark (Gray) Background"
          }
        ]
      },
      {
        "type": "text",
        "id": "about_bottom_banner_h2",
        "label": "Banner text inside of <h2> tag.",
        "default": "Title text here"
      },
      {
        "type": "html",
        "id": "about_bottom_banner_p",
        "label": "Banner text inside of <p> tag.",
        "default": "Descriptive text here"
      },
      {
        "type": "header",
        "content": "LIVE CHAT"
      },
      {
        "type": "checkbox",
        "id": "live_chat_enabled",
        "label": "Enable Live Chat bubble on banner",
        "info": "Checking this box will enable Live Chat bubble on About page template.",
        "default": false
      },
      {
        "type": "text",
        "id": "live_chat_text",
        "label": "Enter Live chat bubble text here.",
        "default": "Live chat"
      },
      {
        "type": "select",
        "id": "live_chat_color_scheme",
        "label": "Live Chat text and fill color",
        "options": [
          {
            "value": "light",
            "label": "Light Background (Transparent Bubble)"
          },
          {
            "value": "dark",
            "label": "Dark Background (Black Bubble)"
          }
        ]
      }
    ],
    "blocks":[
      {
        "type":"html",
        "name":"HTML Block",
        "settings":[
          {
            "type": "html",
            "id": "about_html_block",
            "label": "About Page text banner"
          }
        ]
      },
      {
      "type": "text_block",
      "name": "Content Module",
      "settings":[
        {
          "type": "image_picker",
          "id": "module_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "module_html_h2",
          "label": "HTML Content - <h2> text"
        },
        {
          "type": "html",
          "id": "module_html_p",
          "label": "HTML Content - <p> text",
          "default": "Descriptive paragraph text here"
        },
        {
          "type": "select",
          "id": "module_image_color_scheme",
          "label": "Color Scheme",
          "options": [
            {
              "value": "light",
              "label": "Light Background"
            },
            {
              "value": "gray",
              "label": "Dark (Gray) Background"
            }
          ]
        },
        {
          "type": "select",
          "id": "module_image_position_desktop",
          "label": "Image Position (Desktop)",
          "options": [
            {
              "value": "image_left",
              "label": "Image Left"
            },
            {
              "value": "image_overlap_left",
              "label": "Image Left (Overlap)"
            },
            {
              "value": "image_right",
              "label": "Image Right"
            },
            {
              "value": "image_overlap_right",
              "label": "Image Right (Overlap)"
            }
          ]
        },
        {
          "type": "select",
          "id": "module_image_position_mobile",
          "label": "Image Position (Mobile)",
          "options": [
            {
              "value": "image_top",
              "label": "Image Top"
            },
            {
              "value": "image_bottom",
              "label": "Image Bottom"
            }
          ]
        }
      ]
      },
      {
        "type": "paragraph_block",
        "name": "Paragraph Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "HTML Content - <h2> text"
          },
          {
            "type": "html",
            "id": "content",
            "label": "HTML Content - <p> text"
          }
        ]
      },
      {
        "type": "image_block",
        "name": "Image block",
        "settings": [
          {
            "type": "image_picker",
            "id":  "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
