<div class="stores-container">
  {% if section.settings.page_title_h1 != blank %}
    <h1 class="stores-title">{{ section.settings.page_title_h1 }}</h1>
  {% else %}
    <h1 class="stores-title">{{ page.title }}</h1>
  {% endif %}
  {% for block in section.blocks %}

    {% if block.type == 'text_block' %}

      {% comment %} CONTENT MODULE - Paired text & images {% endcomment %}
      <div class="content-module layout-desk--{{ block.settings.module_image_position_desktop }} layout-mob--{{ block.settings.module_image_position_mobile }} {%- if block.settings.image_offset_enabled != false -%}image-offset-enabled{%- endif -%}">
        <div class="text-box">

        {% if block.settings.module_html_h2 %}<h2>{{ block.settings.module_html_h2 }}</h2>{% endif %}
        <div class="banner-divider"></div>
          {% if block.settings.module_html_p %}
            <p>{{ block.settings.module_html_p }}</p>
          {% endif %}

          {% comment %} :: CTA BUTTONS :: {% endcomment %}
          {% if block.settings.button_text != blank %}
            <div class="buttons-row">

              {% comment %} :: BUTTON #1 :: {% endcomment %}
              {% include 'cta-with-symbols',
                cta_text: block.settings.button_text,
                cta_link: block.settings.button_link,
                symbol_placement: block.settings.button_symbol_placement %}

            </div>
          {% endif %}

        </div><!-- /.text-box -->

        {% comment %} :: IMAGE SOURCE - Mobile - If none given use desktop image :: {% endcomment %}
        {% assign image_mobile = block.settings.image_mobile %}
        {% if image_mobile == blank %}
          {% assign image_mobile = block.settings.image_desktop %}
        {% endif %}

        {% comment %} :: PANEL - IMAGE :: (See bottom portion for layout placement usage) {% endcomment %}
        <div class="image-box">

          {% comment %} :: DESKTOP IMAGE :: (Will be the mobile image also if none given) {% endcomment %}
          <div class="featured-image-desktop">
          {% if block.settings.image_desktop != blank %}
            {% include 'basic-responsive-image', type: block.settings.image_desktop %}
            <noscript>
              <img class="featured-image" src="{{ block.settings.image_desktop | img_url: '800x' }}" alt="{{ block.settings.image_desktop.alt }}">
            </noscript>

          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          </div><!-- /.featured-image-desktop -->

          {% comment %} :: MOBILE IMAGE :: (Will be the mobile image also if none given) {% endcomment %}

          {% comment %} :: SOURCE : "image_mobile" {% endcomment %}
          <div class="featured-image-mobile">
          {% if image_mobile != blank %}
            {% include 'basic-responsive-image', type: image_mobile %}
            <noscript>
              <img class="featured-image" src="{{ image_mobile | img_url: '800x' }}" alt="{{ image_mobile.alt }}">
            </noscript>

          {% comment %} :: SOURCE : No image, use placeholder :: {% endcomment %}
          {% else %}
            <div class="featured-image-fallback onboard">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}

          </div><!-- /.featured-image-mobile -->
        </div><!-- /.image-box -->

      {% comment %} <div class="image-box"> {% endcomment %}
        {% comment %} <img src="{{ block.settings.module_image | img_url: '800x' }}" /> {% endcomment %}
      {% comment %} </div> {% endcomment %}

    </div><!-- .content-module -->

    {% endif %}
  {% endfor %}

  {% if section.settings.live_chat_enabled %}
  {% assign live_chat_color_scheme = section.settings.live_chat_color_scheme %}
    <div class="live-chat-bubble{% if live_chat_color_scheme != 'blank' %} color-scheme-{{ live_chat_color_scheme }}{% endif %}">
      <a href="#" title="{{ section.settings.live_chat_text }}">
        <span>{{ section.settings.live_chat_text }}</span>
        {% include 'svg-icon-chat-bubble' %}
      </a>
    </div>
  {% endif %}

</div><!-- /.guide-container -->


<style>
  /* .zEWidget-launcher {
    display: none;
  } */

  .fancybox img {
    margin-bottom: -6px;
  }
</style>

<script>
  jQuery(document).ready(function($){
      $(".fancybox").on("click", function(){
        $.fancybox({
          href: this.href,
          type: $(this).data("type")
        }); // fancybox
        return false
      }); // on
	}); // ready
</script>

{% schema %}
  {
    "name": "Stores page",
    "settings": [
      {
        "type": "text",
        "id": "page_title_h1",
        "label": "Page (section) title override (Optional)"
      },
      {
        "type": "header",
        "content": "LIVE CHAT"
      },
      {
        "type": "checkbox",
        "id": "live_chat_enabled",
        "label": "Enable Live Chat bubble on banner",
        "info": "Checking this box will enable Live Chat bubble on About page template.",
        "default": false
      },
      {
        "type": "text",
        "id": "live_chat_text",
        "label": "Enter Live chat bubble text here.",
        "default": "Live chat"
      },
      {
        "type": "select",
        "id": "live_chat_color_scheme",
        "label": "Live Chat text and fill color",
        "options": [
          {
            "value": "light",
            "label": "Light Background (Transparent Bubble)"
          },
          {
            "value": "dark",
            "label": "Dark Background (Black Bubble)"
          }
        ]
      }
    ],
    "blocks":[
      {
      "type": "text_block",
      "name": "Content Module",
      "settings":[
        {
          "type": "header",
          "content": "-- CONTENT --"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image (Desktop)",
          "info": "Size: about ~1800px wide, ~300-400kb"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "Size: about ~900px wide, ~100-150kb"
        },
        {
          "type": "text",
          "id": "module_html_h2",
          "label": "HTML Content - <h2> text"
        },
        {
          "type": "html",
          "id": "module_html_p",
          "label": "HTML Content - <p> text",
          "default": "Descriptive paragraph text here"
        },
        {
          "type": "header",
          "content": "CTA SETTINGS"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Content Module CTA link text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Select page to link to"
        },
        {
          "type": "select",
          "id": "button_symbol_placement",
          "label": "Button Symbol Location",
          "info": "(Line / caret next to button text)",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "both",
              "label": "Both"
            }
          ]
        },
        {
          "type": "select",
          "id": "module_image_position_desktop",
          "label": "Image Position (Desktop)",
          "options": [
            {
              "value": "image_left",
              "label": "Image Left"
            },
            {
              "value": "image_right",
              "label": "Image Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "module_image_position_mobile",
          "label": "Image Position (Mobile)",
          "options": [
            {
              "value": "image_top",
              "label": "Image Top"
            },
            {
              "value": "image_bottom",
              "label": "Image Bottom"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "image_offset_enabled",
          "label": "Enable image offset (desktop only)",
          "info": "Checking this box will push the image in from the left/right.",
          "default": false
        }
      ]
      }
    ]
  }
{% endschema %}
