<div class="about-container">

  {% comment %} ABOUT MODULE - centered text directly below banner image {% endcomment %}
  {% if section.settings.about_text != 'blank' %}
  <div class="about-block" style="background-color:{{ section.settings.about_text_color }}">
    {{ section.settings.about_text }}
  </div>
  {% endif %}

	{% for block in section.blocks %}

		{% comment %} CONTENT MODULE - Paired text & images {% endcomment %}

		{% if block.type == 'text_block' %}

		<div class="content-module layout-desk--{{ block.settings.module_image_position_desktop }} layout-mob--{{ block.settings.module_image_position_mobile }} color-scheme--{{ block.settings.module_image_color_scheme }}">
        <div class="text-box">

        {% if block.settings.module_html_h2 %}<h2>{{ block.settings.module_html_h2 }}</h2>{% endif %}
        <div class="banner-divider"></div>
        {% if block.settings.module_html_p %}
          <p>{{ block.settings.module_html_p }}</p>
        {% endif %}
      </div>

      <div class="image-box">
        <img src="{{ block.settings.module_image | img_url: '800x' }}" />
      </div>
    </div><!-- .content-module -->

    {% endif %}
  {% endfor %}

  {% comment %} {% include 'about-page-banner' %} {% endcomment %}

  {% if section.settings.about_bottom_banner_enabled %}
  {% comment %}  ABOUT PAGE ::: Bottom Full Width Banner {% endcomment %}
  <div class="about-bottom-banner layout-mob--{{ section.settings.banner_image_position_mobile }}">
    <div class="banner-image-box"><img src="{{ section.settings.banner_image | img_url: '800x' }}" /></div>
    <div class="banner-text-box {% if section.settings.banner_text_box_position_desktop %}{{ section.settings.banner_text_box_position_desktop }}{% endif %} {% if section.settings.banner_text_box_color_scheme %}{{ section.settings.banner_text_box_color_scheme }}{% endif %}">
      {% if section.settings.about_bottom_banner_h2 %}<h2>{{ section.settings.about_bottom_banner_h2 }}</h2>{% endif %}
      <div class="banner-divider"></div>
      {% if section.settings.about_bottom_banner_p %}
        <p>{{ section.settings.about_bottom_banner_p }}</p>
      {% endif %}
    </div>

    {% if section.settings.live_chat_enabled %}
    <div class="live-chat-bubble">
      <a href="#" title="Live Chat">
        <p style="width: auto;">Live chat</p>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="live-chat-bubble-icon"  width="448" height="448" viewBox="0 0 448 448">
          <title>Chat Icon</title>
          <path fill="{{ settings.footer_color }}" d="M0 224c0 88.5 100.25 160 224 160 12.25 0 24.5-0.75 36.25-2 32.75 29 71.75 49.5 115 60.5 9 2.5 18.75 4.25 28.5 5.5 5.5 0.5 10.75-3.5 12-9.5v-0.25c1.25-6.25-3-10-6.75-14.5-15.75-17.75-33.75-32.75-45.5-74.5 51.5-29.25 84.5-74.5 84.5-125.25 0-88.25-100.25-160-224-160s-224 71.5-224 160z"></path>
        </svg>
      </a>
    </div>
    {% endif %}

  {% endif %}

</div>


<style>
  /* .zEWidget-launcher {
    display: none;
  } */
  .live-chat-bubble {
    width: auto;
    position: absolute;
    right: 0;
    bottom: 12%;
    /* transform: translateY(-50%); */
    background-color: #000;
    border-radius: 50px;
  }

  .live-chat-bubble a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    transition: color .25s ease;
    color: #FFFFFF;
    padding: 0 10px;
  }
  .live-chat-bubble-icon a:hover; {
    color: #616365;
  }
  .live-chat-bubble p {
    margin: 0;
    padding: 0 10px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .live-chat-bubble svg {
    width: 20px;
    height: 18px;
    transition: fill .3s ease;
    fill: #FFFFFF;
  }
  .live-chat-bubble-icon svg:hover; {
    fill: #616365;
    /* cursor: pointer; */
  }
  /*
  .live-chat-bubble-icon path {
    transition: fill .3s ease;
    fill: #FFFFFF;
  } */

  #content.row {
    width: 100%;
  }
  .video-url {
    position: relative;
  }
  #breadcrumb {
    display: none;
  }
  #content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .block {
    width: 40%;
  }
  .fancybox img {
    margin-bottom: -6px;
  }

  @media screen and ( min-width: 741px ) {
    .block {
      order: inherit !important;
    }
    .block:nth-of-type(even) {
      margin-left: 10%;
    }
    .block:nth-of-type(odd) {
      margin-right: 10%;
    }
  }

	@media screen and ( max-width: 740px ) {
    .about-container {
      flex-direction: column;
        align-items: flex-start;
    }
    .block {
      width: 100%;
    }
    .image-block {
      margin-top: 0 !important;
    }
  }

  .block img {
    width: 100%;
    height: 100%;
  }
</style>

<script>
  jQuery(document).ready(function($){
      $(".fancybox").on("click", function(){
        $.fancybox({
          href: this.href,
          type: $(this).data("type")
        }); // fancybox
        return false
      }); // on
      {% if section.settings.nav_transparent_landing %}
      $('body').addClass( 'show-transparent-landing' );
      {% endif %}
	}); // ready
</script>

{% schema %}
  {
    "name": "Collection page",
    "max_blocks": 12,
    "settings": [
      {
        "type": "checkbox",
        "id": "nav_transparent_landing",
        "label": "Enable Transparent Nav Landing",
        "info": "When banner images are present, set the nav bar to be transparent bg mode.",
        "default": false
      },
      {
        "type": "header",
        "content": "About Page banner text - below transparent nav"
      },
      {
        "type": "html",
        "id": "about_text",
        "label": "About Text"
      },
      {
        "type": "color",
        "id": "about_text_color",
        "label": "About Text Background Color"
      },
      {
        "type": "header",
        "content": "About Page Bottom Banner"
      },
      {
        "type": "checkbox",
        "id": "about_bottom_banner_enabled",
        "label": "Enable Bottom content banner",
        "info": "Checking this box will enable full width banner on About page template.",
        "default": false
      },
      {
        "type": "select",
        "id": "banner_text_box_position_desktop",
        "label": "Text Box Position (Desktop)",
        "options": [
          {
            "value": "left",
            "label": "Text Left"
          },
          {
            "value": "right",
            "label": "Text Right"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner image (mobile)"
      },
      {
        "type": "select",
        "id": "banner_image_position_mobile",
        "label": "Image Position (Mobile)",
        "options": [
          {
            "value": "image_top",
            "label": "Image Top"
          },
          {
            "value": "image_bottom",
            "label": "Image Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "banner_text_box_color_scheme",
        "label": "Color Scheme",
        "options": [
          {
            "value": "light",
            "label": "Light Background"
          },
          {
            "value": "dark",
            "label": "Dark (Black) Background"
          }
        ]
      },
      {
        "type": "text",
        "id": "about_bottom_banner_h2",
        "label": "Banner text inside of <h2> tag.",
        "default": "Title text here"
      },
      {
        "type": "html",
        "id": "about_bottom_banner_p",
        "label": "Banner text inside of <p> tag.",
        "default": "Descriptive text here"
      },
      {
        "type": "header",
        "content": "LIVE CHAT"
      },
      {
        "type": "checkbox",
        "id": "live_chat_enabled",
        "label": "Enable Live Chat bubble on banner",
        "info": "Checking this box will enable Live Chat bubble on About page template.",
        "default": false
      }
    ],
    "blocks":[{
      "type": "text_block",
      "name": "Content Module",
      "settings":[
        {
          "type": "image_picker",
          "id": "module_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "module_html_h2",
          "label": "HTML Content - <h2> text"
        },
        {
          "type": "html",
          "id": "module_html_p",
          "label": "HTML Content - <p> text",
          "default": "Descriptive paragraph text here"
        },
        {
          "type": "select",
          "id": "module_image_color_scheme",
          "label": "Color Scheme",
          "options": [
            {
              "value": "light",
              "label": "Light Background"
            },
            {
              "value": "gray",
              "label": "Dark (Gray) Background"
            }
          ]
        },
        {
          "type": "select",
          "id": "module_image_position_desktop",
          "label": "Image Position (Desktop)",
          "options": [
            {
              "value": "image_left",
              "label": "Image Left"
            },
            {
              "value": "image_overlap_left",
              "label": "Image Left (Overlap)"
            },
            {
              "value": "image_right",
              "label": "Image Right"
            },
            {
              "value": "image_overlap_right",
              "label": "Image Right (Overlap)"
            }
          ]
        },
        {
          "type": "select",
          "id": "module_image_position_mobile",
          "label": "Image Position (Mobile)",
          "options": [
            {
              "value": "image_top",
              "label": "Image Top"
            },
            {
              "value": "image_bottom",
              "label": "Image Bottom"
            }
          ]
        }
      ]
      }
    ]
  }
{% endschema %}
