{%- capture section_settings -%}
{
  "disableAutoSelect": {{- section.settings.disable_auto_select | json -}},
  "selectionTitle": {{- section.settings.selection_label | json -}}
}
{%- endcapture -%}

{% assign has_audience = false %}
{% for tag in product.tags %}
  {% if tag contains 'audience_' %}
    {% assign has_audience = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign current_variant = product.selected_or_first_available_variant %}

<div itemscope itemtype="http://schema.org/Product"
  id="product-{{ product.id }}"
  class="product-page product-template"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product-section"
  data-section-settings='{{ section_settings }}'>

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
  {% unless template == 'product.quick' %}
    {% include 'product-mobile-header' %}
  {% endunless %}
  {% endcomment %}

  {% include 'product-video' %}

  <div class="mobile-product-photos--wrapper">

    {% comment %}
      MOBILE PRODUCT PHOTOS
      ----------------------------- {% endcomment %}
    <div id="mobile-product-photos" class="owl-carousel mobile-3">
      {%- if product.featured_image -%}
        {% include 'mobile-product-image-gallery' %}
      {%- else -%}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}

      {% comment %} :: Mobile Product Video :: Rendered from 'product-video' {% endcomment %}
      {{ mobile_product_video }}
    </div>

  </div>


    {% comment %}
      DESKTOP PHOTOS
      ----------------------------- {% endcomment %}
  <div class="row product-details--top">
    <div id="product-photos" class="{% if section.settings.related_products == 'right' %}desktop-5{% else %}desktop-6{% endif %} tablet-3 mobile-hide" data-product-gallery>

      {% comment %} :: ITEM BADGE :: {% endcomment %}
      {% include 'react-item-badge' %}

      {%- if product.featured_image -%}
        {% include 'product-image-gallery' %}
      {%- else -%}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>

    <div id="product-right" class="{% if section.settings.related_products == 'right' %}desktop-7{% else %}desktop-6{% endif %} tablet-4">

      <div id="product-description" {% if section.settings.related_products == 'right' %}class="desktop-10 tablet-6 mobile-3"{% endif %}>
        {% if collection and section.settings.product_nav %}
          <div class="product-navigation">
            {% if collection.previous_product %}
              {{ '<i class="fa fa-angle-left" aria-hidden="true"></i>' | link_to: collection.previous_product }}
            {% endif %}
            {% if collection.next_product %}
              {{ '<i class="fa fa-angle-right" aria-hidden="true"></i>' | link_to: collection.next_product }}
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.vendor %}
          <h2>{{ product.vendor }}</h2>
        {% endif %}

        <h1 class="product-name" itemprop="name">
          {{ product.title }}
        </h1>


        <div id="product-details--wrapper" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          {% capture product_form_config %}
            {%- assign unavailable = 'products.product.unavailable' | t -%}
            {%- if section.settings.disable_auto_select -%}
              {%- assign unavailable = section.settings.selection_label -%}
            {%- endif -%}
            { "money_format": {{ shop.money_format | json }},
              "enable_history": true,
              "currency_switcher_enabled": {{ settings.show_multiple_currencies | json }},
              "sold_out": {{ "products.product.sold_out" | t | json }},
              "button": {{ 'products.product.add_to_cart' | t | json }},
              "unavailable": {{ unavailable | json }}
            }
          {% endcapture %}

          {% include 'product-form' %}

          <div class="product-actions">
            {% comment %} :: Social sharing :: {% endcomment %}
            {% if section.settings.show_social %}
              <div class="share-me product-action product-action--share">
                <span class="share-me__label">Share</span>
                <div class="share-me__social-sharing">
                  {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                </div>
              </div>
            {% endif %}

            {% comment %} :: Sizing chart :: {% endcomment %}
            {% if template != 'product.quick' and section.settings.size_chart_show and has_audience %}
              <div class="product-action product-action--sizing-chart">
                <a href="#size-chart--popup" class="fancybox size-chart--trigger">Size Chart</a>
              </div>
            {% endif %}
          </div>

          {% comment %} :: Product description :: '<!-- split -->' will not always be there =\ {% endcomment %}
          {% if product.description != blank %}
            <hr class="product-hr">
            <div class="product-desc">
              {% assign product_description = product.description | remove: '<ul></ul>' | split: '<!-- split -->' %}
              {% assign top_description = product_description[0] | split: '•' | first %}
              {% assign bottom_description = product_description[1] %}
              <div class="product-desc__heading">Product Details</div>
              <div class="product-desc__main">
                <div class="rte">
                  {{ top_description }}
                </div>
              </div>

              {% unless product.description contains '<!-- split -->' %}
                {% if product.description contains '•' %}
                  {% assign bottom_description = blank %}
                  {% assign bottom_description_holder = product_description[0] | split: '•' %}
                  {% for b in bottom_description_holder %}
                    {% unless forloop.first %}
                      {% assign bottom_description = bottom_description | append: '•' | append: b %}
                    {% endunless %}
                  {% endfor %}
                {% endif %}
              {% endunless %}

              {% if bottom_description != blank %}
                <div id="read-more" class="product-desc__more">
                  <div class="rte">
                    {% comment %}{- We will build our own list -}{% endcomment %}
                    {% assign product_specs = bottom_description | remove: '<ul>' | remove: '</ul>' | remove: '<li>' | remove: '</li>' | split: '•' %}
                    <ul>
                      {% for spec in product_specs %}
                        {% if spec != blank %}
                          {% comment %}{- Remove nonbreaking space -}{% endcomment %}
                          <li>{{ spec | remove_first: ' ' }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="product-desc__read-wrapper">
                  <a class="product-desc__read js-read-toggle" href="#" data-target="#read-more">Read More</a>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% unless template == 'product.quick' %}

            {% comment %}

              FREE SHIPPING & RETURNS
              -----------------------------
            {% endcomment %}

            {% if section.settings.shipping_text != blank or settings.shoprunner_enabled %}
              <hr class="product-hr">
              <dl id="free-shipping--accordion">
                {% comment %} :: SHIPPING - Header :: {% endcomment %}
                <dt id="free-shipping--accordion-header"><h3>{{ section.settings.shipping_header_text }}</h3><span class="opener">{% include 'svg-icon-caret-down' %}</span></dt>

                {% comment %} :: SHIPPING - Content :: {% endcomment %}
                <dd id="free-shipping--accordion-content">
                  {% if settings.shoprunner_enabled %}
                    {% include 'shoprunner-pdp' %}

                  {% else %}
                    <div class="shipping-text">{{ section.settings.shipping_text }}</div>

                    {% if section.settings.shipping_learn_more_link != blank or section.settings.shipping_show_account_link %}
                      <div class="free-shipping-links">
                        {% if section.settings.shipping_learn_more_link != blank %}
                          <a href="{{ section.settings.shipping_learn_more_link }}" class="free-shipping-link">Learn More</a>
                        {% endif %}
                        {% if section.settings.shipping_show_account_link %}
                          <a href="/account" class="free-shipping-link">
                            {% if customer %}
                              My Account
                            {% else %}
                              Sign In
                            {% endif %}
                          </a>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endif %}
                </dd>

              </dl><!-- .free-shipping--accordion -->
              <hr class="product-hr">
            {% endif %}

          {% endunless %}
        </div>

        {% if section.settings.zoom_image_position == 'zoom_on_right' %}
          <div class="zoom-box"></div>
        {% endif %}

        {% if template == 'product.quick' %}
          <a href="{{ product.url | within_collection }}" class="full-click">{{ 'products.general.view_full' | t }}</a>
        {% endif %}

      </div>
      {% unless template == 'product.quick' %}
        {% if section.settings.related_products == 'right' %}
          <div id="related" class="desktop-2 tablet-hide mobile-hide">
            {% include 'related-products' %}
          </div>
        {% endif %}
      {% endunless %}
    </div>

  </div><!-- .row -->

  {% comment %} BIG GREEN DESCRIPTION {% endcomment %}

  <div class="clear"></div>

  {% comment %}
  {% unless template == 'product.quick' %}
    <div class="product-description--area">
      <div class="row">
        <h3>Description</h3>

        <div class="product-description--left">
          <div class="rte">
          {{ product.description }}
          </div>

          {% include 'product-spec-icons' %}

        </div><!-- .--left -->

        <div id="product-description--mobile-dropdown">
          {% include 'product-spec-icons' %}

          {% comment %}

            PRODUCT SPECS (BULLETS)
            -----------------------------
          {% endcomment %}

          <div class="product-description--specs">

            <div class="rte">
              {{ product.description }}

              <ul>
                <li>SKU <span class="product-sku">{{ product.variants.first.sku }}</span></li>
              </ul>

            </div><!-- .rte -->

          </div><!-- .--specs -->


        </div><!-- .--mobile-dropdown -->

        <div id="product-description--mobile-dropdown-trigger">
          <span class="closed-text">More Details</span><span class="open-text">Less Details</span>{% include 'svg-icon-caret-down' %}
        </div>

      </div><!-- .row -->
    </div>
  {% endunless %}
  {% endcomment %}

  <div class="clear"></div>

  {% comment %} :: REVIEWS :: {% endcomment %}
  <div class="row product-details--reviews">
    <dl class="accordion accordion--product-review js-accordion">
      <dt class="accordion__header js-accordion-toggle">
        <h3>Ratings &amp; Reviews</h3><span class="opener">{% include 'svg-icon-caret-down' %}</span>
      </dt>
      <dd class="accordion__content js-accordion-content">
        <hr class="product-hr product-hr--large product-pr-hr">
        {% include 'pr-review-summary' %}
      </dd>
    </dl>
  </div>

  {% unless template == 'product.quick' %}
    {% comment %} BOTTOM CONTENT {% endcomment %}

    {% if section.settings.related_products == 'bottom' %}
      <div class="row related-products">
        <div id="related" class="bottom-related">
          <hr class="product-hr product-hr--large">
          {% include 'related-products' %}
        </div>
      </div>
      <div class="clear"></div>
    {% endif %}

    {% comment %} INSTAGRAM YOTPO FEED {% endcomment %}

    {% comment %} :: CAMPAIGN VIDEO :: {% endcomment %}
    {% include 'product-campaign-video' %}

    {% comment %} YOU MAY ALSO LIKE {% endcomment %}
    <div style="max-width:1350px; margin:auto;" id="recommendify-similar-products" shop="{{ shop.domain }}" product="{{ product.id }}"></div>


    {% comment %} :: RECENTLY VIEWED :: {% endcomment %}
    {% comment %} {% include 'recently-viewed' %} {% endcomment %}


  {% endunless %}
</div>

{% comment %} :: SIZE CHART MODAL :: {% endcomment %}
{% if section.settings.size_chart_show and has_audience %}
  {% include 'product-size-chart' %}
{% endif %}

<style>
  {% if section.settings.thumbnails == 'right' %}
    .thumbnail-gallery {
      float: right;
    }
    .main-image-navigation {
      left: 10px;
    }
  {% endif %}
  {% if section.settings.thumbnails == 'bottom' and product.images.size > 4 %}
    .product-thumbnail {
      width: 100% !important;
      margin-top: 20px;
    }
    .thumbnail-slider .owl-wrapper-outer {
      z-index: 1 !important;
      margin: 0 0 0 10px !important;
      padding-left: 30px !important;
    }
    .thumbnail-slider .owl-prev {
      left: 0px;
      position: absolute;
      top: 40%;
      z-index: 1;
    }
    .thumbnail-slider .owl-next {
      right: 0px;
      top: 40%;
      z-index: 1;
      position: absolute;
    }
  {% endif %}
  {% if section.settings.thumbnails == 'left' %}
    .product-main-images {
      float: right !important;
    }
  {% endif %}
  {% if section.settings.related_products == 'right' %}
    #product-description,
    .product-description {
      border-right: 1px solid {{ settings.dotted_color }};
      padding-right: 20px;
    }
  {% endif %}
  {% if section.settings.product_variants == 'swatches' %}
    .selector-wrapper {
      display: none;
    }

    .single-option-selector {
      opacity: 0;
      display: none;
    }
  {% endif %}
  {% if section.settings.swatch_shape == 'circles' %}
    /*.swatch .color label {
      min-width: 30px !important;
      width: 30px !important;
      border-radius: 50%;
      outline: 0 !important;
    }*/
  {% endif %}
  {% if product.images.size > 1 %}
    #product-description .zoom-box {
      left: 48%;
    }
  {% else %}
    #product-description .zoom-box {
      left: 57.5%;
    }
  {% endif %}
</style>

{% include 'script-infinite-variant' %}

{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "header",
        "content": "Product form"
      },
      {
        "type": "checkbox",
        "id": "product_nav",
        "label": "Show next / previous product"
      },
      {
        "type": "checkbox",
        "id": "vendor",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show quantity"
      },
      {
        "type": "checkbox",
        "id": "show_sku",
        "label": "Show variant SKU",
        "default": true
      },
      {
        "type": "radio",
        "id": "product_variants",
        "label": "Product variant display",
        "options": [
          {
            "value": "drop-downs",
            "label": "Drop-downs"
          },
          {
           "value": "swatches",
           "label": "Swatches"
          }
        ],
        "default": "drop-downs"
      },
      {
        "type": "checkbox",
        "id": "use_swatch_images",
        "label": "Show custom swatch images",
        "default": true
      },
      {
        "type": "select",
        "id": "swatch_shape",
        "label": "Color swatch shape",
        "options": [
          {
            "value": "circles",
            "label": "Circles"
          },
          {
            "value": "rectangles",
            "label": "Rectangles"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)",
        "default": false
      },
      {
        "type": "header",
        "content": "Auto selection"
      },
      {
        "type": "checkbox",
        "id": "disable_auto_select",
        "label": "Disable auto select",
        "info": "Disables auto-selecting of the first available variant (Keeps first option). [Learn more](https://help.shopify.com/en/themes/customization/products/variants/how-to-add-a-pick-an-option-to-drop-downs)",
        "type": "checkbox"
      },
      {
        "type": "text",
        "id": "selection_label",
        "label": "Make a selection label",
        "default": "Pick a size"
      },
      {
        "type": "header",
        "content": "Product gallery"
      },
      {
        "type": "checkbox",
        "id": "show_controls",
        "label": "Show gallery controls",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_zoom",
        "label": "Show zoom",
        "default": false
      },
      {
        "type": "select",
        "id": "thumbnails",
        "label": "Thumbnail images position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "zoom_image_position",
        "label": "Zoom image position",
        "options": [
          {
            "value": "zoom_over_main",
            "label": "Over top of main image"
          },
          {
            "value": "zoom_on_right",
            "label": "To right of main image"
          }
        ],
        "default": "zoom_over_main"
      },
      {
        "type": "header",
        "content": "Additional content"
      },
      {
        "type": "select",
        "id": "related_products",
        "label": "Related products position",
        "options": [
          {
            "value": "none",
            "label": "Do not show"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "Shipping Accordion"
      },
      {
        "type": "text",
        "id": "shipping_header_text",
        "label": "Shipping Header Text",
        "default": "Shipping & Returns"
      },
      {
        "type": "richtext",
        "id": "shipping_text",
        "label": "Shipping Text"
      },
      {
        "type": "url",
        "id": "shipping_learn_more_link",
        "label": "Learn more link"
      },
      {
        "type": "checkbox",
        "id": "shipping_show_account_link",
        "label": "Show account link"
      },
      {
        "type": "header",
        "content": "Social share"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social share icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Size Chart"
      },
      {
        "type": "checkbox",
        "id": "size_chart_show",
        "label": "Show size chart",
        "default": false
      },
      {
        "type": "text",
        "id": "size_chart_header_text",
        "label": "Size Chart Header Text",
        "default": "Size Chart"
      },
      {
        "type": "page",
        "id": "size_chart_page",
        "label": "Size Chart Page"
      }
    ]
  }
{% endschema %}
