<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
    <link type="text/css" href="{{ 'checkout.css' | asset_url }}" rel="stylesheet">

    {% comment %} :: LIBRARY SCRIPTS :: {% endcomment %}
    {{ 'jquery-2.2.4.min.js' | asset_url | script_tag }}

  <!-- Data Layer for GTM
  ================================================== -->
    {% include 'script-google-tag-head' %}
    {% include 'script-data-layer' %}

    <!-- Sailthru
  ================================================== -->
    {% comment %} {% include 'sailthru-script' %} {% endcomment %}

  {% comment %} Tooltip {% endcomment %}
  <script type="text/javascript">
      $(document).ready(function(){
       if (Shopify.Checkout.step == 'contact_information'){ 
          $("#main-header").html($("#main-header").html() + '<img class="tooltip-image" src="{{ 'question.png' || file_url }}">');       
          $("#main-header").html($("#main-header").html() + "{{ settings.guest_checkout_tooltip_message }}");
          $(".tooltip-message").hide();
            $(".tooltip-image").hover(function() {
               $("#main-header").css('position','relative');
               $(this).css('cursor','pointer');
               $(".tooltip-message").show();
              }, function() {
               $(this).css('cursor','auto');
               $(".tooltip-message").hide();
            });
            $('.step').append("{{ settings.secure_checkout_message }}");
        }else{
         $(".tooltip-image, .tooltip-message").hide();
       }
      }); 
   </script>

  <!-- LoyaltyLion -->
  {% include 'checkout-loyaltylion' %}  

  </head>

  <body>
    {% include 'script-google-tag-body' %}

    <p>
      {{ content_for_header }}
      {{ checkout_stylesheets }}
      {{ checkout_scripts }}
    </p>

    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    <div id="sr_logic">{% include 'shoprunner-logic', isCheckout: true %}</div>

    {{ tracking_code }}

    {% if settings.afterpay_enabled %}
      {% include 'script-afterpay', afterpay_template: 'checkout' %}
    {% endif %}

    {% comment %} :: BOL - Checkout Customizations :: {% endcomment %}
    {{ 'checkout.js' | asset_url | script_tag }}

    {% comment %} Why Choose Us - Checkout {% endcomment %}
    <script type="text/javascript">
      $(document).ready(function(){
        var cehckout_satisfaction = '<div class="why-choose-part">' +
                                      '<div class="main-heading">' +
                                          '<h4>Why Choose Us?</h4>' +
                                      '</div>' +
                                      '<div class="loop-part">' +
                                          '<div class="images-part"><img src="{{ 'why-chooce-us-icon-1.png' | file_url }}"></div>' +
                                          '<div class="info">' +
                                            '<h3 class="heading">Satisfaction Guarantee</h3>' +
                                            '<p>We are sure you will love your bat! if you do not, send us an email why and we will gladly try and sort out a solution for you to make sure you are happy.</p>'+
                                          '</div>' +
                                      '</div>' +
                                      '<div class="loop-part">' +
                                          '<div class="images-part"><img src="{{ 'why-chooce-us-icon-2.png' | file_url }}"></div>' +
                                          '<div class="info">' +
                                            '<h3 class="heading">Easy Track Your Order Status</h3>' +
                                            '<p>Simply click on the link in your confirmation email to instantly view the status of your order.</p>' +
                                          '</div>' +
                                      '</div>' +
                                    '</div>';  
       $('.order-summary__section--total-lines').append(cehckout_satisfaction);
      });
    </script>
  {% comment %} Start Freshdesk {% endcomment %}
  {% comment %} <script type="text/javascript" src="https://assets.freshdesk.com/widget/freshwidget.js"></script>
  <script type="text/javascript">FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=Aquatalia+Support&submitTitle=Submit&submitThanks=Thank+you%2C+we+will+contact+you+within+the+next+24-48+hours.&captcha=yes&searchArea=no", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Help?", "buttonColor": "white", "buttonBg": "#000000", "alignment": "3", "offset": "90%", "submitThanks": "Thank you, we will contact you within the next 24-48 hours.", "formHeight": "600px", "captcha": "yes", "url":"aqua.brandedonline.com"} );
  </script> {% endcomment %}
  {% comment %} end Freshdesk {% endcomment %}
  </body>  
</html>
